@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Nunito Sans";
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
.sidebar, .content {
  margin: 0px 100px;
}
.logo {
  height: 100%;
  margin-right: 20px;
}
.sidebar {
  height: 7%;
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 10px;
}
a {
  color: inherit;
  text-decoration: none;
  padding: 0px 10px;
}
.limittext {
  max-width: 500px;
}
.feature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.feature > img {
  max-width: 600px;
  width: 40%;
  aspect-ratio: 4/3
}
img {
  border-radius: 20px;
}
.right-align {
  text-align: right;
}
body.dark {
  background: black;
  color: white;
}
/* FONT SIZES */
.body {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.bodyL {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
.bodyXL {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
}
.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}
.titleL {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
}
.titleXL {
  font-weight: 700;
  font-size: 45px;
  line-height: 61px;
}
.heading {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
}
.headingL {
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
}
.headingXL {
  font-weight: 600;
  font-size: 70px;
  line-height: 95px;
}
.landing {
  font-weight: 700;
  font-size: 75px;
  line-height: 95px;
}
.landingL {
  font-weight: 700;
  font-size: 90px;
  line-height: 110px;
}
.landingXL {
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
}
p, a, span {
  margin: 0px;
}